extends layout

block body
	body
		script(type='text/javascript', src='js/fillModal.js')
		script(type='text/javascript', src='js/readings.js')
		//- script(type='text/javascript', src='js/underscore-min.js')
		- var jsonArr = JSON.parse(readFile);
		- var bolusRead = false;
		- var basalRead = false;
		- var glucoseRead = false;
		//- script.
			var jsonString = JSON.parse(readFile)
		p
			| #{readFile}
		#container.col-lg-12
			.panel.panel-primary
				.panel-heading Gegevens OmniPod
				table#readingsTable.table.table-striped
					tbody
						//- each val, index in jsonArr.length ? jsonArr : ['Er zijn geen waardes']
							tr
								th= val.day
								td= '00'
								td= '01'
								td= '02'
								td= '03'
								td= '04'
								td= '05'
								td= '06'
								td= '07'
								td= '08'
								td= '09'
								td= '10'
								td= '11'
								td= '12'
								td= '13'
								td= '14'
								td= '15'
								td= '16'
								td= '17'
								td= '18'
								td= '19'
								td= '20'
								td= '21'
								td= '22'
								td= '23'
							tr(data-id= val.ids)
								td= "Basaal"
								- var lastHour;
								- var result = 0.0;
								- for (var i = 0; i < 24; i++) {
									- lastHour = 0;
									- result = 0.0;
									each hour, index2 in val.basalHours
										if hour == i
											if lastHour == hour
												- result += parseFloat(val.basalValues[index2])
												td= result
											else
												td
										- lastHour = hour
								- }
								// - for (var i = 0; i < 24; i++) {
									- var seen = [];
									- var brk = false;
									- var result = 0;
									each hour, index2 in val.basalHours
										- brk = false;
										- if (seen.indexOf(hour) === -1) {
											- seen.push(hour);
											if hour == i
												td= val.basalValues[index2]
												- brk = true;
										- } else {
											td
											- brk = true;
										- }
										- if (brk) break;
									- }
							tr(data-id= val.ids)
								td= "Glucose"
								- var lastHour;
								- var result;
								- for (var i = 0; i < 24; ++i) {
									- lastHour = 0;
									- result = 0;
									each hour, index2 in val.glucoseHours
										if hour == i
											if lastHour == hour
												- result += parseInt(val.glucoseValues[index2])
												td= lastHour
												td= hour
											else
												// td= result
										- lastHour = hour
								- }
								// - for (var i = 0; i < 24; i++) {
									- var seen = [];
									- var brk = false;
									- var result = 0;
									each hour, index2 in val.glucoseHours
										// - brk = false;
										- if (seen.indexOf(hour) === -1) {
											- seen.push(hour);
											if hour == i
												td= val.glucoseValues[index2]
												- brk = true;
										- } else {
											td
											- brk = true;
										- }
										- if (brk) break;
									- }
							tr(data-id= val.ids)
								td= "Bolus"
								- var lastHour;
								- var result;
								- for (var i = 0; i < 24; ++i) {
									- lastHour = 0;
									- result = 0;
									each hour, index2 in val.bolusHours
										if hour == i
											if lastHour == hour
												- result += parseInt(val.bolusValues[index2])
												td= lastHour
												td= hour
											else
												// td= result
										- lastHour = hour
								- }
								// - for (var i = 0; i < 24; i++) {
									- var seen = [];
									- var brk = false;
									- var result = 0;
									each hour, index2 in val.bolusHours
										// - brk = false;
										- if (seen.indexOf(hour) === -1) {
											- seen.push(hour);
											if hour == i
												td= val.bolusValues[index2]
												- brk = true;
										- } else {
											td
											- brk = true;
										- }
										- if (brk) break;
									- }
		#detailModal.modal.fade(role='dialog', aria-labelledby='detailModalLabel', aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal', aria-label='Sluiten', aria-hidden='true') &times;
						|          
						h3.modal-title Waarde
					|     
					#itemDetails.modal-body
					|     
					.modal-footer
						button.btn(data-dismiss='modal', aria-hidden='true') Sluiten
