extends layout

block body
  body
    #container
      .row.col-lg-8.col-lg-offset-2
        if message
          if message.error
            each msg in message.error
              .alert.alert-dismissable.alert-danger
                button.close(data-dismiss='alert', type='button') &times;
                p #{msg}
          if message.info
            each msg in message.info
              .alert.alert-dismissable.alert-info
                button.close(data-dismiss='alert', type='button') &times;
                p #{msg}
          if message.success
            each msg in message.success
              .alert.alert-dismissable.alert-success
                button.close(data-dismiss='alert', type='button') &times;
                p #{msg}
          if message.warning
            each msg in message.warning
              .alert.alert-dismissable.alert-warning
                button.close(data-dismiss='alert', type='button') &times;
                p #{msg}
      .col-sm-6.col-sm-offset-3
        .row
          p
            h4 Bestanden:
            for file in files
              .bs-component
                .list-group
                  span.list-group-item
                    h4.list-group-item-heading #[a(href='/file/#{file._id}') #{file.original_name}]
                    p.list-group-item-text Geüpload #{file.timestamp}
